In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("../data/ipc_global_national_long_latest.csv", header=0, skiprows=1)

In [10]:
df.head()

,#date+analysis,#country+code,#population,#period+v_ipc,#date+start,#date+end,#severity+v_ipc,#affected+num,#affected+pct
0,Oct 2024,AFG,46024352,current,2024-09-01,2024-10-31,all,46024354,1.00
1,Oct 2024,AFG,46024352,current,2024-09-01,2024-10-31,3+,11610606,0.25
2,Oct 2024,AFG,46024352,current,2024-09-01,2024-10-31,1,14192140,0.31
3,Oct 2024,AFG,46024352,current,2024-09-01,2024-10-31,2,20204146,0.44
4,Oct 2024,AFG,46024352,current,2024-09-01,2024-10-31,3,9798949,0.21